@import './color';

.alert {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $red;
    box-shadow: 1px 1px 3px black;
    margin: 4px;

    & span {
        color: white;
    }
}